<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h1>Hello Kendo UI for Angular!</h1>


  <div class="row">
    <div class="col col-lg-4">
      <div class="row">
        <div class="col col-12">
          <form autocomplete="off" [formGroup]="searchForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Content Library</label>
              <input type="text" class="form-control" name="title" formControlName="contentLibrary" />
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
              <label for="exampleInputEmail1">Tier</label>
              <input type="text" class="form-control" name="title" formControlName="tier" />
            </div>
            <ng-container formArrayName="filters">
              <div class="form-group" *ngFor="let filterGroup of filterGroups;let i = index" [formGroupName]="i">
                <kendo-expansionpanel [expanded]="false" expandIcon="k-icon k-font-icon k-i-plus"
                  collapseIcon="fa fa-minus">
                  <ng-template kendoExpansionPanelTitleDirective>
                    <div class="d-flex bd-highlight w-100">
                      <div class="col col-lg-6">{{filterGroup.groupName}}</div>
                      <div class="col col-lg-6 text-end">
                        <kendo-chip [removable]="true" (remove)="onRemove($event,filterGroup)">
                          <span class="custom-content">{{filterGroup.appliedCount}} Applied</span>
                        </kendo-chip>
                      </div>
                    </div>
                  </ng-template>
                  <div class="row ms-2">
                    <ng-container formArrayName="elemnts">
                      <div class="form-check mt-1" *ngFor="let groupElement of filterGroup.dataList;let childCnt = index"  [formGroupName]="childCnt">
                        <input class="form-check-input" type="checkbox" value="" id="grade1" formControlName="filter">
                        <label class="form-check-label" for="grade1">
                          {{groupElement.name}}
                        </label>
                      </div>
                    </ng-container>
                    
                  </div>
                </kendo-expansionpanel>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-lg-8">
      <div class="row">
        <div class="col col-lg-12">
          <kendo-calendar></kendo-calendar>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-12">
          <kendo-dropdownlist [data]="dropDownItems" [defaultItem]="defaultItem" textField="text" valueField="value"
            [style.width.px]="170" (valueChange)="handleFilterChange($event)">
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-12">
          <kendo-grid [data]="gridItems | async" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
            (pageChange)="pageChange($event)" [sortable]="true" [sort]="sortDescriptor"
            (sortChange)="handleSortChange($event)" [height]="400">
            <kendo-grid-column field="ProductID" title="ID"></kendo-grid-column>
            <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
            <kendo-grid-column field="Category.CategoryName" title="Category"></kendo-grid-column>
            <kendo-grid-column field="UnitPrice" title="Unit Price" format="{0:c}"></kendo-grid-column>
            <kendo-grid-column field="Discontinued" filter="boolean">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>



</div>